name: Update Dependencies & Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'node'

      - name: Upgrade npm
        run: npm install -g npm@latest

      - name: Update dependencies
        run: npm update


    
